.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  position: relative;
  background-color: #384357;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

/* Headings */
.heading-primary{
  margin-bottom: -1rem;
}

.heading-Secondary{
  font-weight: 400;
}

/* BUTTONS */

.buttons {
  display: flex;
  gap: .7rem;
}
.btnPrimary{
  background-color: aqua;
  border: none;
  border-radius: .3rem;
  padding: .7rem;
  font-size: 1.2rem;
  cursor: pointer;
}

.btnReset{
  background-color: #fc5132;
  border: none;
  border-radius: .3rem;
  padding: .6rem;
  font-size: 1.2rem;
  cursor: pointer;
}

.lists{
  list-style: none;
}

.list{
  cursor: pointer;
  background-color: darkturquoise;
  padding: .3rem;
  margin-top: .5rem;
}